<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
  
	<insert parameterType='map' id='insertarItem'>
		
		INSERT INTO VI_ITEMS(id, nombre, descripcion, fechalanzamiento, tarifaxdia, formatorenta, genero, TIPOITEM_id) 
		VALUES(#{ite.id}, #{ite.nombre}, #{ite.descripcion}, #{ite.fechaLanzamiento}, #{ite.tarifaxDia},#{ite.formatoRenta} ,#{ite.genero}, #{ite.tipo.id})
	
	</insert>

	<select parameterType="map" id="consultarItems" resultMap="ItemResult">
		select
		ir.id as itemrentado_id,
		ir.fechainiciorenta as itemrentado_fechainiciorenta,
		ir.fechafinrenta as itemrentado_fechafinrenta,
		i.id as item_id,
		i.nombre as item_nombre,
		i.descripcion as item_descripcion,
		i.fechalanzamiento as item_fechalanzamiento,
		i.tarifaxdia as item_tarifaxdia,
		i.formatorenta as item_formatorenta,
		i.genero as item_genero,        
		ti.id as tipoitem_id,
		ti.descripcion as tipoitem_descripcion
		FROM
		VI_ITEMRENTADO as ir
		left join VI_ITEMS as i on ir.ITEMS_id=i.id 
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
		<where>
			<if test="#{it} != null" >
				#{it}=i.id
			</if>
		</where>
	</select>

	<select parameterType="map" id="consultarItem" resultMap="ItemResult">
		select
		ir.id as itemrentado_id,
		ir.fechainiciorenta as itemrentado_fechainiciorenta,
		ir.fechafinrenta as itemrentado_fechafinrenta,
		i.id as item_id,
		i.nombre as item_nombre,
		i.descripcion as item_descripcion,
		i.fechalanzamiento as item_fechalanzamiento,
		i.tarifaxdia as item_tarifaxdia,
		i.formatorenta as item_formatorenta,
		i.genero as item_genero,        
		ti.id as tipoitem_id,
		ti.descripcion as tipoitem_descripcion
		FROM
		VI_ITEMRENTADO as ir
		left join VI_ITEMS as i on ir.ITEMS_id=i.id 
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
		WHERE #{it}=i.id
	</select>
	
	<select parameterType="map" id="valorMultaRetrasoxDia" resultMap="ItemResult">
		select fechafinrenta,tarifaxdia
		FROM VI_ITEMS,VI_ITEMRENTADO
		WHERE VI_ITEMS.id=VI_ITEMRENTADO.ITEMS_id and VI_ITEMS.id=#{itemId};
	</select>
	
	<select parameterType="map" id="consultarItemsDisponibles" resultMap="ItemResult">
		select *
		FROM VI_ITEMS
		WHERE id not in (select ITEMS_id from VI_ITEMRENTADO);
	</select>
	
	<select parameterType="map" id="consultarCostoAlquiler" resultMap="ItemResult">
		select tarifaxdia from VI_ITEMS where id=#{iditem};
	</select>
	
	<update parameterType='map' id='actualizarTarifaItem'>
		update VI_ITEMS set tarifaxdia=#{tarifa} where id=#{id};
	</update>
	
	<resultMap type='Item' id='ItemResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='descripcion' column='descripcion'/>
		<result property='fechaLanzamiento' column='fechalanzamiento'/>
		<result property='tarifaxDia' column='tarifaxdia'/>
		<result property='formatoRenta' column='formatorenta'/>
		<result property='genero' column='genero'/>
		<association property="tipo" javaType="TipoItem" columnPrefix='tipoitem_' resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult"></association>  
	</resultMap>
	
	
</mapper>